[access]
	inheritFrom = Public-Plugins
[project]
	description = The events plugin adds a stream events API which parallels\nthe core stream events API with extensions to resume events\non reconnect.  Each event is stored in a separate file in a traditional filesystem.  This plugin is multi-master friendly when the filesystem is shared among the masters.
[access "refs/*"]
	owner = group Code Aurora Plugin Owners
