[project]
	description = "The events plugin adds a stream events API which parallels the core stream events API with extensions to resume events on reconnect.  Currently it only stores events in memory, eventually it will store them as files.  - (mirror of https://gerrit.googlesource.com/plugins/events)"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Luca Milanesio (lucamilanesio)
[access "refs/for/refs/*"]
	read = group user/Luca Milanesio (lucamilanesio)
	push = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group user/Luca Milanesio (lucamilanesio)
	label-Verified = -1..+1 group user/Luca Milanesio (lucamilanesio)
	rebase = group user/Luca Milanesio (lucamilanesio)
	removeReviewer = group user/Luca Milanesio (lucamilanesio)
	submit = group user/Luca Milanesio (lucamilanesio)
[access "refs/heads/*"]
	read = group user/Luca Milanesio (lucamilanesio)
	create = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
	pushMerge = group user/Luca Milanesio (lucamilanesio)
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
