[access]
	inheritFrom = Public-Plugins
[project]
	description = The events plugin adds a stream events API which parallels\n\
the core stream events API with extensions to resume events\n\
"on reconnect.  Each event is stored in a separate file in a traditional filesystem.  This plugin is multi-master friendly when the filesystem is shared among the masters."
[access "refs/heads/master"]
	delete = group google/gerritcodereview-maintainers@googlegroups.com
